@import '../styles/variables.scss';

.search {
  display: flex;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;

  &__input {
    flex: 1 1 auto;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 20px;
  }

  &__btn {
    padding: 0px 60px 0px 10px;
    background: $main-color;
    border: none;
    border-radius: 0 50px 0 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: border-radius 0.5s;

    &:hover {
      border-radius: 0 25px 0 0;
    }
  }
}
